.rodape_anuncios {
    height: 100px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-family: 'lora';
    border-radius: 30px;
    text-align: center;
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        width: 300px;
    }
}

.containerAnuncios_caronas {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;

    &.swiper {
        width: 100%;
        transition: .5s ease-in-out;
    }
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2196F3;
    border-radius: 25px 25px 0 25px;

    &::before,&::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #2196F3;
        border-color: #fff;
    }
    &::after {
        border-radius: 0 25px 0 0;
        background-color: #FFF;
    }
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
    .card-img {
        height: 95%;
        width: 95%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #2196F3;
    }
}

.name {
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.description {
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2196F3;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: #265DF2;
    }
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
    &:hover {
        color: #4070F4;
    }
    &::before,
    &::after {
        font-size: 35px;
    }
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #2196F3;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #2196F3;
}