@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

.carona_fat {
    display: flex;
    padding-right: 10px;
    font-family: 'Inter', sans-serif;
}

.Btn_refresh {
    display: flex;
    position: absolute;
    left: 100px;
    align-items: center;
    border: none;
    background-color: #2196F3;
    color: aliceblue;
    font-size: xx-large;
    cursor: pointer;
}

.logo_carrinho {
    display: flex;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 870px) {
    .carona_fat {
        font-size: x-large;
    }
    .Btn_refresh {
        left: 50px;
    }
}
