html {
  box-sizing: border-box;
  --duration: .50s;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --color-1: #d5dadd;
  --color-2: #51d5c2;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

.menu {
  margin: 0;
  width: 46em;
  display: flex;
  height: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  align-items: center;
  padding: 0 1.9em 1em;
  justify-content: center;
  background-color: #2196F3;
  border-radius: 1em 1em 4.5em 4.5em;
  -webkit-tap-highlight-color: transparent;
}

.menu__item {
  all: unset;
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  padding-top: 0.5em;
  position: relative;
  align-items: center;
  color: rgba(255, 255, 255, 0.7137254902);
  justify-content: center;
  transition: flex-grow var(--duration) var(--cubic);
}
.menu__item::before {
  top: 9%;
  left: 36%;
  width: 1.5em;
  height: 1.5em;
  content: " ";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  background-color: rgba(240, 236, 253, 0.8352941176);
  transition: transform var(--duration) var(--cubic);
}
.menu__item::after {
  right: 25em;
  bottom: 0;
  content: " ";
  height: 0.2em;
  position: absolute;
  border-radius: 2em;
  transform-origin: left center;
  background-color: currentColor;
  width: calc(var(--lineWidth) + 5px);
  transform: translate3d(3em, 0, 0) scaleX(0);
  transition: transform calc(var(--duration) + 0.2s) var(--cubic);
}
.menu__item.active {
  flex-grow: 2.7;
  color: hsla(170, 83%, 65%, 0.877);
}
.menu__item.active .menu__icon {
  transform: translate3d(-95%, 0, 0);
}
.menu__item.active::before {
  transform: scale(1);
}
.menu__item.active::after {
  transform: translate3d(6.3em, 0, 0) scaleX(1);
  transition: transform var(--duration) var(--cubic);
}

.menu__icon {
  font-size: 1.05em;
  stroke: currentColor;
  transition: transform var(--duration) var(--cubic);
}

.menu__text {
  left: 2.5em;
  font-size: 25px;
  position: absolute;
  text-transform: capitalize;
  transform: translate3d(0, 109%, 0);
  transition: transform calc(var(--duration) / 3.7);
}
.menu__text.active {
  transform: translate3d(0, 0, 0);
  transition: transform calc(var(--duration) / 1.5);
}

.icon {
  --duration-icon: 1s;
  fill: none;
  width: 2.5em;
  height: 2.5em;
  display: block;
  stroke-width: 15;
  stroke-miterlimit: 10;
}

.active #home-anm {
  animation: home var(--duration-icon);
}

@keyframes home {
  25% {
    transform: translate3d(0, -0.8em, 0);
  }
  50% {
    transform: translate3d(0, 0.5em, 0);
  }
}
#strategy-anm {
  transform: scaleX(0.85);
  transform-origin: center;
}

.active #strategy-anm {
  animation: strategy var(--duration-icon);
}
.active #strategy-cir1 {
  animation: strategy-cir1 var(--duration-icon);
}
.active #strategy-cir2 {
  animation: strategy-cir2 var(--duration-icon) 0.1s;
}
.active #strategy-cir3 {
  animation: strategy-cir3 var(--duration-icon) 0.2s;
}

@keyframes strategy {
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.85);
  }
}
@keyframes strategy-cir1 {
  50% {
    transform: translate3d(-0.7em, -0.7em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strategy-cir2 {
  35% {
    transform: translate3d(0, -0.7em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strategy-cir3 {
  35% {
    transform: translate3d(0.7em, -0.7em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}/*# sourceMappingURL=Menu_princ.module.css.map */