@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400;500&display=swap');

body::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(200, 200, 200);
    border: 5px solid white;
}

body::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 50px;
    border: 2px solid white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    font-weight: 500;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

canvas {
    height: 100vh;
    top: 10%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.conteudo main {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s ease, height .2s ease;
    transform: translateX(0%);
}